// Insert your styling here.

/* Global Styling */

h1  {
		color: @brand-bm;
	}


/* Content */
.name.navbar-brand {
	color: @brand-bm;
	padding-left: 30px;
	font-size: 25px;
}

.navbar-default .navbar-nav li a {
	color: #cc0000;
}


.navbar-nav {
	font-size: 20px;
}

.navbar-default .navbar-nav li a:hover {
	color: darken(@brand-bm, 20%);
}

.navbar.container {
	position: fixed;
	z-index: 1130;
}

// Homepage slideshow

#rotating-item-wrapper {
    position: relative;
    //padding-bottom: 700px;
}
.rotating-item {
    display: none;
    //position: absolute;
    top: 0;
    left: 0;
}

/* Image Gallery */

body.page-image-gallery {

	.page-header {
		margin-top: 100px;
	}

	.views-field-field-gallery-images .field-content img {
		.img-responsive;
	}

	.views-field-field-gallery-images .field-content {
		margin-right: 35px;
	}

	.views-field-field-body .field-content {
		margin-bottom: 25px;
	} 
}

body.page-images-for-2015{

	.page-header {
		margin-top: 100px;
	}

	.views-field-field-gallery-images .field-content img {
		.img-responsive;
	}

	.views-field-field-gallery-images .field-content {
		margin-right: 35px;
	}

	.views-field-field-body .field-content {
		margin-bottom: 25px;
	} 
}

