// Insert your styling here.

/* Global Styling */

h1  {
		color: #cc0000;
	}

a {
	color: #000000;
}


/* Content */
.name.navbar-brand {
	color: #000000;
	padding-left: 30px;
	font-size: 25px;
}

.name.navbar-brand:hover {
	color: @brand-bm;
}

.navbar-default .navbar-nav li a {
	color: #000000;
}

.navbar-nav {
	font-size: 20px;
}

.navbar-default .navbar-nav li a:hover {
	color: @brand-bm;
}

.navbar.container {
	position: fixed;
	z-index: 1130;
	left: 0;
	right:0;
}

.content {
	padding-bottom: 50px;
}

// Homepage slideshow

#rotating-item-wrapper {
    position: relative;
    //padding-bottom: 700px;
}
.rotating-item {
    display: none;
    //position: absolute;
    top: 0;
    left: 0;
}

/* Image Gallery */

body.page-image-gallery {

	.page-header {
		margin-top: 100px;
	}

	.views-field-field-gallery-images .field-content img {
		.img-responsive;
	}

	.views-field-field-gallery-images .field-content {
		margin-right: 35px;
	}

	.views-field-field-body .field-content {
		margin-bottom: 25px;
	} 
}

body.page-images-for-2015{

	.page-header {
		margin-top: 100px;
	}

	.views-field-field-gallery-images .field-content img {
		.img-responsive;
	}

	.views-field-field-gallery-images .field-content {
		margin-right: 35px;
	}

	.views-field-field-body .field-content {
		margin-bottom: 25px;
	} 
}

/* home page */

body.front {
	.views-field-field-update-title {
		padding-bottom: 7px;
		font-size: 20px;
	}

	.views-field-field-images img {
		margin-bottom: 17px;
	}

	.views-field-body {
		margin-bottom: 16px;
	}
}

/* About Us page */

#about-page-slideshow-block.carousel {
	margin-bottom: 20px;
}

/* news and updates page */

body.page-node-2 {

	.page-header {
		margin-top: 100px;
	}

	.views-row {
		padding-bottom: 50px;
	}

	.views-field-field-update-title {
		padding-bottom: 7px;
		font-size: 22px;
	}

	.views-field-field-images img {
		margin-bottom: 17px;
	}
}

/* update details page */

body.node-type-updates {

	.content .field-type-image img {
		.img-responsive;
	}
}



